h1
{
  position: relative;
top: 100px;
display: inline;
}
paragraph2{
  display: inline;
}
 .football-content
 {
   display: flex;
flex-direction: row;
   justify-content: center;
   margin-top: 150px;
   flex-wrap: wrap;
 }
.paragraph5
{
  width: 50%;
position: relative;
left: 290px
  top: 1px;
  margin: 0 auto;
font-family: 'Style Script', cursive;
}
.football-player1{
  box-shadow: 10px 10px #404040;
padding-bottom: 3px;
margin-bottom: 15px;
border-radius: 30px;
transition: box-shadow 0.5s;
}
.info
{
  padding-top: 30px
}

 .hr1
{
  top: 50px
}

.favourite-players
{
  height: 600px;
      padding-top: 100px;
  border-radius: 20px;
  height: 800px;
padding-top: 0px;
margin-top: 100px;
border-left-style: solid;
border-left-width: 5px;
border-right-width: 5px;
border-right-style: solid;
border-top-width: 5px;
border-top-style: solid;
border-bottom-width: 5px;
border-bottom-style: solid;
border-radius: 100px;
}

.messi
{
  height: 100%;
width: 50%;
float: left;
}
.ronaldo
{
  width: 50%;
display: inline-block;
height: 100%;
}

.real
{
  height: 300px;
width: 500px
border-radius: 100px;
border-radius: 100px;
margin-top: 120px;
box-shadow: 20px 20px #404040;
position: relative;
left: 20px;
bottom: 20px;
width: 400px;
transition: box-shadow 0.5s;
}


.tactics
{
  margin-top: 30px;
  border-radius: 100px;
  box-shadow: 20px 20px #404040;
  transition: box-shadow 0.5s;
}
.third-container
{
  margin-top: 90px;
}
.parag{
  width: 80%;
position: relative;
top: 140px;
line-height: 25px;
top: 100px;
font-family: 'Crimson Text', serif;
}
.parag1
{
  position: relative;
width: 80%;
margin-left: 50px;
line-height: 25px;
top: 330px;
font-family: 'Crimson Text', serif;
}
.nav
{
  width:840px;
}

.football-player1:hover
{
  box-shadow: 5px 5px;
}
 .real:hover
 {
   box-shadow: 5px 5px;
 }

 .tactics:hover
 {
   box-shadow: 5px 5px;
 }
 
