.nav{
  background-color: #66BFBF;
height: 42.5px;
margin: 0 auto;
border-radius: 20px;
margin-top: 0.7em;
width: 840px;
}

.nav ul{
text-align: start;
padding:0px;
transition: all 0.3s ease;
}

.nav ul li{
  text-align:left;
  float: left;
  width: 70px;
  margin:0 auto;
}

.nav ul li
{
float: left;
width: 180px;
list-style: none;
height: 40px;
line-height: 40px;
font-size: 20px;
text-align: center;
background-color:  #66BFBF;
}

.nav ul li ul{
   display: none;
}

.nav ul li:hover > ul
{
  display:block;
}

a:hover{
  color: white;
  border-radius: 20px;
}

a
{
  color: black;
  transition: color 0.2s;
}

.li1
{
border-radius: 20px;
}


.li1
{
font-family: 'Josefin Sans', sans-serif;
position: relative;
top: 2px;
font-size: 23px;

}
.li2
{
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 2px;
  font-size: 23px;

}
.li3
{
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 2px;
  font-size: 23px;
}
 .li4
{
  font-family: 'Josefin Sans', sans-serif;

}
.li5
{
font-family: 'Josefin Sans', sans-serif;

}
.li6
{
font-family: 'Josefin Sans', sans-serif;

}
.li7
{
  font-family: 'Josefin Sans', sans-serif;

}
.li8
{
  font-family: 'Josefin Sans', sans-serif;

}
.li9
{
font-family: 'Josefin Sans', sans-serif;
}
.li10
{
  font-family: 'Josefin Sans', sans-serif;

}
