/* .Photography-photo
{
  width: 70%;
margin: 0 auto;
padding-bottom: 20px;
font-family: 'Style Script', cursive;

} */
.Paragraph-photo1
{
  width: 70%;
margin: 0 auto;
padding-bottom: 20px;
font-family: 'Style Script', cursive;
position: relative;
top: 30px;
}

.Paragraph-photo
{
  width: 70%;
margin: 0 auto;
padding-bottom: 20px;
font-family: 'Style Script', cursive;
}

.Paragraph-photo2
{
  width: 70%;
margin: 0 auto;
padding-bottom: 20px;
font-family: 'Style Script', cursive;
position: relative;
top: 30px;
}




.First-content
{
  display: flex;
justify-content: space-between;
align-content: center;
padding: 50px 50px 50px 50px;
}
.image2{
  margin: auto;
}

.photo
{
  width: 50%;
margin: auto;
}

 .IMAGE1
 {
    border-radius: 30px;
    box-shadow: 20px 20px #404040;
  transition: box-shadow 0.5s;
  }

 .IMAGE1:hover
{
  box-shadow: 5px 5px;
}

.SIZE
{
  font-size: 40px;
}

.size{
  font-size: 25px;
}
