/* header */
.Main{
  background-image: url('images/canvas.png') center;
}
.Cloud
{
  bottom: 5px;
  padding-top: 20px;
  position: relative;
width: 200px;
left: 10%;
}


/* main */
body{
  background-color: #DEEDF0;
margin: 0;
text-align: center;
position: relative;
right: 50px;
right: 0;
left: 0;
margin-left: 70px;
margin-right: 70px;
}

.first:container
{
  width: 50%;
  top: 100px;
  /* margin: */
  padding-top: 100px;
}

h1
{
  /* width: 50%; */
/* margin: 0 auto; */
/* margin-top: 200px; */
font-family: 'Josefin Sans', sans-serif;
margin: 0 auto 0 auto;
font-size: 50px;

}

.paragraph
{
  position: relative;
top: 20px;
width: 37%;
margin: 0 auto;
color: #66BFBF;
font-weight: normal;
}

.paragraph2
{
  position: relative;
  width: 30%;
  margin: 0 auto;
  top: 100px;
  font-family: 'Gowun Batang', serif;
  font-size: 25px;
  color: #66BFBF;
font-weight: normal;

}
.mountain
{
  width: 700px;
position: relative;
bottom: 50px;
}

.Cloud2
{
  width: 200px;
  position: relative;
  bottom: 300px;
  left: 200px;
}

.image
    {
      position: relative;
right: 200px;
     box-shadow: 5px 5px  5px  #404040;
    }

  .circular
    {
      border-radius: 100%;
    }
h2
{
  font-family: 'Gowun Batang', serif;
}
.intro
{
  font-family: 'Gowun Batang', serif;
  color: #067373;
  font-weight: normal;
box-shadow: 10px 10px 9px #787a97;
position: relative;
bottom: 170px;
left: 50%;
border-width: 20px;
width: 10%;

}

.paragraph3
{
  position: relative;
width: 50%;
margin: 0 auto;
bottom: 150px;
left: 20%;
box-shadow: 10px 10px 9px #787a97;
color: #067373;
font-weight: normal;
font-size: 20px;
height: 25px;

}

.hr1{
  position: relative;
bottom: 100px;
border-width: 10px;
width: 5%;
border-style: none;
border-top-style: dotted;
border-color: #37d915;
bottom: 130px;
}

.name
{
  color: #66BFBF;
}
.image3
{
  width: 200px;
height: 200px;
box-shadow: 20px 20px  #404040;
border-radius: 20px;
}

.skill-row1
{
  width: 200px;
height: 400px;
position: absolute;
left: 10%;
text-align: inherit;
line-height: 24px
}

.skill-row2
{
  position: relative;
left: 43%;
width: 200px;
height: 400px;
line-height: 24px;
position: relative;
}
.image4{
width: 200px;
position: relative;
box-shadow: 20px 20px  #404040;
border-radius: 100px;
}

 .skills
 {
   position: relative;
bottom: 90px;
padding-top: 50px;
padding-bottom: 70px;

 }
.skill-row3
{
  width: 20%;
  height: 40px;
  position: relative;
  bottom: 400px;
  left: 70%;
  line-height: 24px

}
 .image5
 {
   width: 200px;
position: relative;
box-shadow: 20px 20px  #404040;
border-radius: 30px;
 }
 .hr2
{
  position: relative;
bottom: 150px;
border-width: 10px;
border-style: none;
border-top-style: dotted;
border-color: #37d915;
bottom: 60px;
width: 5%;
top: 50px;
}

.btn{
  background: #5ea6d6;
  background-image: -webkit-linear-gradient(top, #5ea6d6, #6daed6);
  background-image: -moz-linear-gradient(top, #5ea6d6, #6daed6);
  background-image: -ms-linear-gradient(top, #5ea6d6, #6daed6);
  background-image: -o-linear-gradient(top, #5ea6d6, #6daed6);
  background-image: linear-gradient(to bottom, #5ea6d6, #6daed6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
top: 80px;
}


.btn:hover {
  background: #d1e2eb;
  background-image: -webkit-linear-gradient(top, #d1e2eb, #0c92eb);
  background-image: -moz-linear-gradient(top, #d1e2eb, #0c92eb);
  background-image: -ms-linear-gradient(top, #d1e2eb, #0c92eb);
  background-image: -o-linear-gradient(top, #d1e2eb, #0c92eb);
  background-image: linear-gradient(to bottom, #d1e2eb, #0c92eb);
  text-decoration: none;
}
.contact-me
{
  position: relative;
top: 40px;
}
.head1
{
  font-family: 'Gowun Batang', serif;
  position: relative;
top: 40px;
}
.head2{
  position: relative;
top: 40px;
}
.paragraph4
{
  position: relative;
top: 40px;
font-family: 'Style Script', cursive;
font-size: 20px;
}
.third-container
{
  background-color: #66BFBF;
padding-bottom: 5px;
opacity: 0.8;
padding-top: 30px;
border-radius: 20px;
position: relative;
top: 180px;
}

a{
margin: 0 10px 5px;
text-decoration: none;
}

a{
  font-size: 19px;
   font-family: 'Josefin Sans', sans-serif;
}
.hobbies
{
  font-size: 20px;
color: black;
position: relative;
bottom: 19px;
left: 5px;
margin-bottom: -20px;
transition: all 0.3s ease;
}
 a:hover
{
  color: white;
}
.hobbies:hover
{
    color: white;
    cursor: pointer;

}
.Copywrite
{
  color: white;
  font-size: 1em;
  font-family: 'Gowun Batang', serif;

}
h3
{
  color: #66BFBF;
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
position: relative;
left: 20px;
}
.same
{
  color: #000a11;
}
.paragraph21
{

  position: relative;
width: 30%;
margin: 0 auto;
top: 10px;
font-family: 'Gowun Batang', serif;
font-size: 25px;
color: #66BFBF;
font-weight: normal;
}
.sunrays
{
  width: 10%;
position: relative;
right: 15%;
display: inline-block;
top: 15px;
}

.profile
{
  padding-top: 100px;
padding-bottom: 100px;
}
.INTRO
{
  font-size: 30px;
padding-bottom: 30px;
}


.image3:hover
{
  box-shadow: 5px 5px;
}
.image4:hover
{
  box-shadow: 5px 5px;
}
.image5:hover
{
  box-shadow: 5px 5px;
}

.image3{
  transition: box-shadow 0.5s;
}

.image4{
  transition: box-shadow 0.5s;
}
.image5{
  transition: box-shadow 0.5s;
}

.circular
{
  transition: box-shadow 0.5s;
}
.paragraph3
{
  transition: box-shadow 0.5s;
}
.intro
{
  transition: box-shadow 0.5s;
}
.head1
{
  font-size: 30px;
}

.paragraph3:hover
{
 box-shadow: 10px 10px 5px #787a97;
}
.intro:hover
{
 box-shadow: 10px 10px 5px #787a97;
}
.circular:hover
{
 box-shadow: 10px 10px 5px #787a97;
}
.same
{
  font-family: 'Style Script', cursive;
  width: 260px;
}
